.footer {
    &__contact {
        background-color: $c_6;

        .footer__container {
            padding: 35px 15px 40px 15px;
            text-align: center;

            @media only screen and (min-width: rem(768)) {
                padding: 80px 25px;
            }

            >p {
                margin-top: 0;
                margin-bottom: 0;
            }

            a {
                color: #fff;
                text-decoration: none;
                @include font('secondary', 700);
                font-size: rem(16);
                transition: color 0.3s ease;

                @media only screen and (min-width: rem(768)) {
                    font-size: rem(24);
                }

                @media only screen and (min-width: rem(1280)) {
                    font-size: rem(33);
                }

                &:hover,
                &:focus {
                    color: $c_4;
                }
            }
        }
    }

    &__credit {
        background-color: #fff;
        .footer__container {
            text-align: center;
            width: 100%;
            max-width: 755px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px 15px 30px 15px;

            @media only screen and (min-width: rem(768)) {
                padding: 40px 25px 50px 45px;
            }

            >* {
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            p {
                font-size: rem(12);

                @media only screen and (min-width: rem(768)) {
                    font-size: rem(20);
                }
            }
        }
    }
}